.homeBody {
  background-image: url(/background/bgHome.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mainTitle {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  font-family: "roboto", sans-serif;
}

.linkHistory {
  margin: 25px;
  background-color: transparent;
  font-size: 20px;
  border: solid white 2px;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
}
a:hover {
  color: rgb(223, 217, 217);
  backdrop-filter: blur(90px);
}

.linkAbout {
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.googleButton {
  position: fixed;
  top: 20px;
  right: 20px;
}

@media screen and (max-width: 800px) {
  .homeBody {
    background-repeat: no-repeat;
    background-size: cover;
  }

  .mainTitle {
    font-size: 24px;
    justify-content: space-evenly;
  }

  .linkAbout {
    height: 30px;
    width: 30px;
  }

  .linkHistory {
    font-size: 12px;
  }
}
