.homeBody {
  background-image: url(/background/bgHome.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mainTitle {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 40px;
}
.linkHistory {
  margin: 25px;
  background-color: transparent;
  font-size: 20px;
  border: none;
}

.linkAbout {
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.googleButton {
  position: fixed;
  top: 20px;
  right: 20px;
}

@media screen and (max-width: 800px) {
  .homeBody {
    background-repeat: no-repeat;
    background-size: cover;
  }

  .mainTitle {
    font-size: 15px;
  }

  .linkAbout {
    height: 30px;
    width: 30px;
  }

  .linkHistory {
    font-size: 10px;
  }
}
