.historyBody {
  background-image: url(/background/pageMenuHistoire.png);
  background-size: cover;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.mainTitle {
  height: auto;
  max-width: 80%;
  padding: 10px;
  font-family: var(--font-geist-sans);
  text-align: center;
  backdrop-filter: blur(2px) saturate(140%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 10px;
  box-sizing: border-box;

  h2,
  p {
    margin: 40px;
  }
}

.linkAccueil {
  display: flex;
}

.nextStepLink img {
  margin-top: 20px;
  height: 3rem;
  width: 3rem;
}

.nextStepLink {
  justify-self: flex-end;
}

@media screen and (max-width: 800px) {
  .linkAccueil {
    height: 30px;
    width: 30px;
  }

  .mainTitle {
    padding: 1.5rem;
    width: 95%;
  }
}
