.choiceButton {
  backdrop-filter: blur(2px) saturate(140%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 10px;
  border: solid white;
  padding: 15px;
  width: 100%;
  cursor: pointer;
  --text-blur: 0px;
  transition: backdrop-filter 1000ms ease-out;
}
.choiceButton:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.choiceButton:active {
  backdrop-filter: blur(10px) saturate(140%);
  --text-blur: 5px;
}
.buttonLabel {
  filter: blur(var(--text-blur));
  transition: filter 1000ms ease-out;
}
