.aboutBody {
  background-image: url(/background/taverneForAbout.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
}

.aboutSection {
  height: auto;
  max-width: 80%;
  padding: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  backdrop-filter: blur(2px) saturate(140%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 10px;
  box-sizing: border-box;
}
.aboutSection h2 {
  font-size: 32px;
  margin: 50px;
}
.aboutSection p {
  font-size: 18px;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: 100;
  font-size: 1rem;
}

.linkendINButton {
  position: fixed;
  bottom: 20px;
  right: 50px;
  gap: 30px;
  list-style: none;
  display: flex;
}
.linkJerome {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.linkMaxence {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

@media screen and (max-width: 800px) {
  .linkJerome {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
  .linkMaxence {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }

  .linkAccueil {
    height: 30px;
    width: 30px;
  }

  .aboutSection {
    max-height: 80%;
    padding: 0.5rem;
    width: 80%;
    overflow-y: scroll;
  }

  .aboutSection h2 {
    font-size: 1rem;
    margin: 10px;
  }

  .aboutSection p {
    font-size: 1rem;
  }
}
