.dinamicBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.globalBody {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainEtapeTitle {
  max-width: 65%;
  font-family: var(--font-geist-sans);
  text-align: justify;
  backdrop-filter: blur(2px) saturate(140%);
  box-sizing: border-box;
  background-color: #111928bf;
  border-radius: 12px;
  padding: 3rem;
  font-weight: 200;
  margin-top: 30px;
  margin-bottom: 30px;
}
.mainEtapeTitle p {
  font-size: 18px;
}
.ChoiceCase {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 20px;
}
.ChoiceCase li {
  margin: 15px;
}

.choiceButton {
  backdrop-filter: blur(2px) saturate(140%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 10px;
  border: solid white;
  padding: 15px;
  width: 100%;
}

.choiceButton:active {
  animation: gradient 1000ms;
}

.choiceButtonDesactivated {
  backdrop-filter: blur(2px) saturate(140%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 10px;
  border: solid white;
  padding: 15px;
  width: 100%;
  cursor: not-allowed;
}

@media screen and (max-width: 800px) {
  .mainEtapeTitle p {
    font-size: 16px;
  }

  .mainEtapeTitle {
    padding: 0.7rem;
    max-width: 90%;
    height: 650px;
    border: 1px solid #ccc;
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .mainEtapeTitle::-webkit-scrollbar {
    display: none;
  }

  .ChoiceCase li {
    margin: 12px;
  }
}
